<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/assets/styles/index.css" />
    <title>MarkedList</title>
    <style>
        .marked {
            color: #efc14e;
        }
    </style>
</head>

<body>
    <div id="app" style="margin-top: 2rem">
        <div class="container">
            <div class="form-group">
                <input type="search" v-model="currentValue" @input="filterEmails" />
            </div>
            <ul v-if="filterEmails">
                <li v-for="item in emails" v-bind:class="`${filterEmails.includes(item.toLowerCase()) ? 'marked' : ''}`">{{item}}</li>
            </ul>
        </div>
    </div>

    <script type="module" src="./script.js"></script>
</body>

</html>
